{% extends "templates/app.twig" %}

{% block naslov %}

<div class="center">
    <br>
    <h1>Prijava</h1>
    <br>
    <div class="flex-row">
        <div class="flex-col-3"></div>
        <div class="flex-col-2">
            <hr>
            <form action="{{ path_for('prijava') }}" method="POST">
                {{ csrf|raw }}
                <div class="form-group">
                    <label for="korisnicko_ime">Korisničko ime</label>
                    <input type="text" name="korisnicko_ime" id="korisnicko_ime" value="{{ old.korisnicko_ime }}" class="form-control"
                        autocomplete="off">
                    <small class="form-text">Form text</small>
                </div>
                <div class="form-group">
                    <label for="lozinka">Lozinka</label>
                    <input type="password" name="lozinka" id="lozinka" class="form-control" autocomplete="off">
                </div>
                <input type="submit" value="Prijavi se" class="btn-success">
                <a href="{{ path_for('pocetna') }}" class="btn btn-danger">Otkaži prijavu</a>
            </form>
        </div>
        <div class="flex-col-3"></div>
    </div>


</div>
{% endblock naslov %}
