<div id="modal-brisanje" uk-modal>
	<div class="uk-modal-dialog">
		<button class="uk-modal-close-default" type="button" uk-close></button>
		<div class="uk-modal-header">
			<h2 class="uk-modal-title uk-text-danger">Brisanje prevoza</h2>
		</div>
		<div class="uk-modal-body">
			<p>Da li ste sigurni da želite da obrišete prevoz?</p>
			<form action="{{ path_for('prevozi.brisanje.post') }}" method="POST" id="forma_brisanje">
				{{ csrf|raw }}
				<input type="hidden" name="modal_prevoz_id" id="modal_prevoz_id" value="">
			</form>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<div class="uk-button-group">
				<button class="uk-button uk-button-primary" type="button" id="modal_dugme_brisi">Obriši</button>
				<button class="uk-button uk-button-secondary uk-modal-close" type="button">Otkaži</button>
			</div>
		</div>
	</div>
</div>
