<div id="modal-brisanje-racuna" uk-modal>
	<div class="uk-modal-dialog">
		<button class="uk-modal-close-default" type="button" uk-close></button>
		<div class="uk-modal-header">
			<h2 class="uk-modal-title uk-text-danger">Brisanje računa</h2>
		</div>
		<div class="uk-modal-body">
			<p>Da li ste sigurni da želite da obrišete račun?</p>
			<form action="{{ path_for('racun.brisanje') }}" method="POST" id="forma_brisanje_racuna">
				{{ csrf|raw }}
				<input type="hidden" name="modal_racun_id" id="modal_racun_id" value="">
				<input type="hidden" name="karton_id" id="karton_id" value="{{ karton.id }}">
			</form>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<div class="uk-button-group">
				<button class="uk-button uk-button-primary" type="button" id="modal_dugme_brisi_racun">Obriši</button>
				<button class="uk-button uk-button-secondary uk-modal-close" type="button">Otkaži</button>
			</div>
		</div>
	</div>
</div>
