/* ChaSha */

/* Variables */
:root {
  /* base colors */

  /*
  tekst
    bela
    crna
    siva
    primarna
    sekundarna
    info
    success
    warning
    danger
  tekst -
    tamna
    svetla
    siva
    primarna
    sekundarna
    info
    success
    warning
    danger
  pozadina
    tamna
    svetla
    siva
    primarna
    sekundarna
    info
    success
    warning
    danger
  */
  --color-white: #fff;
  --color-black: #000;
  --color-text-dark: #000;
  --color-text-light: #ddd;
  --color-text-grey: #555;
  --color-text-info: #027cc5;
  --color-text-success: #058C42;
  --color-text-warning: #FF5805;
  --color-text-danger: #C81D25;
  --color-bg-light: #fff;
  --color-bg-dark: #333;
  --color-bg-grey: #999;
  --color-bg-info: #027cc580;
  --color-bg-success: #5be57280;
  --color-bg-warning: #ffd23f80;
  --color-bg-danger: #ff794c80;

  /* padding & margin */
  --pm-default: 1rem 2rem;
  --pm-small: 1rem;
  --pm-large: 2rem;
  --pm-table: .5rem;

  /* radius */
  --radius-default: .5rem;

  /* navigation */
  --nav-color: var(--color-text-warning);
  --nav-bg-hover: #111;

  /* pagination */
  --pgn-pm: .5rem 1rem;
}

/* Dead Simple Grid (c) 2015 Vladimir Agafonkin */
.container {
  width: 100%;
}
.row .row {
  margin: 0 calc(var(--pm-large) * -1);
}

.col {
  padding: 0 var(--pm-large);
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

@media only screen {
  .col {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 100rem) {
  .content {
    width: 70%;
  }
  .sidebar {
    width: 30%;
  }
}

/* Basic */
html,
body {
  font-family: "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  box-sizing: border-box;
}

body {
  color: var(--color-text-dark);
  background-color: var(--color-bg-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

main {
  flex: 1;
}

header,
footer {
  color: var(--color-text-light);
  background-color: var(--color-bg-dark);
}

a {
	color: var(--color-text-warning);
	text-decoration: none;
}

a:focus,
a:hover {
  color: var(--color-text-danger);
}

hr {
  border: 0;
	border-top: .1rem solid var(--color-bg-info);
	margin: var(--pm-large) 0;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

/* Navigation */
nav {
  font-size: 1.1rem;
}

nav .logo {
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  padding: var(--pm-small) 0;
  color: var(--nav-color) !important;
  margin-right: var(--pm-large);
  background-color: transparent !important;
  border: 0;
}

nav .logo:hover {
  color: var(--color-text-light) !important;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: var(--pm-small) 1.5rem;
  text-decoration: none;
  color: var(--color-text-light);
  background-color: var(--color-bg-dark);
}

nav ul li a:hover {
  color: var(--nav-color);
  background-color: var(--nav-bg-hover);
}

nav ul li ul li {
  min-width: 12rem;
}

nav ul li ul li a {
  padding: var(--pm-small) 1.5rem;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1000;
}

/* Button */
.btn,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: .1rem solid var(--color-bg-dark);
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  border-radius: var(--radius-default);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 2.5;
  padding: 0 var(--pm-small);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  outline: none;
}

.btn:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  border-color: var(--color-bg-grey);
  background-color: var(--color-bg-grey);
  color: var(--color-text-dark);
}

.btn:disabled,
button:disabled,
input[type='button']:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled {
  cursor: default;
  opacity: .5;
}

/* Flash messages */
.flash {
  padding: var(--pm-small) calc(var(--pm-large) * 2) var(--pm-small) var(--pm-large);
  position: relative;
}

.flash .close {
  position: absolute;
  top: calc(var(--pm-large) * -1);
  right: calc(var(--pm-small) / 2);
  padding: var(--pm-small);
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  color: inherit;
}

.flash-info {
  border-bottom: .1rem solid var(--color-text-info);
  color: var(--color-text-info);
  background-color: var(--color-bg-info);
}

.flash-success {
  border-bottom: .1rem solid var(--color-text-success);
  color: var(--color-text-success);
  background-color: var(--color-bg-success);
}

.flash-warning {
  border-bottom: .1rem solid var(--color-text-warning);
  color: var(--color-text-warning);
  background-color: var(--color-bg-warning);
}

.flash-danger {
  border-bottom: .1rem solid var(--color-text-danger);
  color: var(--color-text-danger);
  background-color: var(--color-bg-danger);
}

/* Pagination */
.pgn-btn {
  display: inline-block;
  margin-top: 0;
  margin-left: -0.1rem;
  border: .1rem solid var(--color-text-grey);
  padding: calc(var(--pm-small) / 2) var(--pm-small);
  background-color: var(--color-bg-light);
  color: var(--color-text-grey);
  text-decoration: none;
}

.pgn-btn:active,
.pgn-btn:focus {
  outline: 0;
}

.pgn-first {
  border-radius: var(--radius-default) 0 0 var(--radius-default);
}

.pgn-last {
  border-radius: 0 var(--radius-default) var(--radius-default) 0;
}

.pgn-btn:hover {
  color: var(--color-white);
  background-color: var(--color-text-info);
}

.pgn-cur-btn {
  background-color: var(--color-bg-info) !important;
  color: var(--color-text-dark) !important;
}

.pgn-btn-disabled {
  pointer-events: none;
  background-color: var(--color-bg-grey);
  color: var(--color-text-grey);
}

.pgn-goto {
  cursor: pointer;
  border: .1rem solid var(--color-text-grey);
  border-radius: var(--radius-default);
  padding: calc(var(--pm-small) / 3) var(--pm-small);
  background-color: var(--color-bg-info) !important;
  color: var(--color-text-dark) !important;
  text-align: center;
}

.pgn-goto:active,
.pgn-goto:focus {
  outline: 0;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  table-layout: fixed;
  overflow-x: auto;
}

table caption {
  text-align: right;
  font-style: italic;
  color: var(--color-text-info);
}

table thead th,
table thead td,
table tfoot td {
  color: var(--color-text-light);
  background-color: var(--color-bg-grey);
}

tr {
  border-bottom: 1px solid var(--color-text-grey);
}

table tbody tr:nth-child(even) {
  background-color: #eee;
}

table tbody tr:hover {
  background-color: var(--color-bg-info);
}

th,
td {
  padding: var(--pm-table);
  margin: 0;
  vertical-align: top;
  text-align: left;
}

td ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Form */

fieldset{
  padding: 0;
}

label {
  color: var(--color-text-info);
}

input {
  padding: calc(var(--pm-small) / 4);
  border: .1rem solid var(--color-text-info);
  border-radius: calc(var(--radius-default) / 2);
  margin-top: calc(var(--pm-table) / 2);
  background-color: var(--color-text-light);
}

input:active,
input:focus {
  outline: 0;
  background-color: var(--color-bg-info);
}

/* Close button */
.close:active,
.close:focus {
  outline: 0;
}

.close:hover {
  color: var(--color-text-dark) !important;
}

/* Floating */
.cf:after {
  clear: both;
  content: '';
  display: table;
}

.move-left{
	float: left;
}

.move-right {
	float: right;
}

/* Flex */
.flex-row {
  padding: var(--pm-small) 0;
  display: block;
}

.flex-col,
.flex-col-1,
.flex-col-2,
.flex-col-3 {
  display: block;
}

@media screen and (min-width: 100rem) {
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex-col,
  .flex-col-1 {
    flex: 1;
  }
  .flex-col-2 {
    flex: 2;
  }
  .flex-col-3 {
    flex: 3;
  }
}
