/* ChaSha */

/* Variables */
:root {
  /* colors */
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #777;
  --color-primary: #12254d;
  --color-secondary: #027cc5;
  --color-info: #5BC0EB;
  --color-success: #5C946E;
  --color-warning: #FAA916;
  --color-danger: #931621;
/* 
  --color-text-dark: #000;
  --color-text-light: #eee;
  --color-text-grey: #444;
  --color-text-primary: #0C1832;
  --color-text-secondary: #024F7E;
  --color-text-info: #3A7B96;
  --color-text-success: #3B5F46;
  --color-text-warning: #A06C0F;
  --color-text-danger: #79131C;

  --color-bg-light: #fff;
  --color-bg-dark: #333;
  --color-bg-grey: #999;
  --color-bg-primary: #68748D;
  --color-bg-secondary: #5EABDA;
  --color-bg-info: #96D6F2;
  --color-bg-success: #97BAA2;
  --color-bg-warning: #FBC86A;
  --color-bg-danger: #CD959A; */

  /* padding & margin */
  --pm-xs: .25rem;
  --pm-s: .5rem;
  --pm-m: 1rem;
  --pm-l: 1.5rem;
  --pm-xl: 2rem;

  /* border, radius */
  --border: .05rem;
  --radius: .5rem;
  --radius-s: .25rem;

  /* navigation */
  /* --nav-color: var(--color-warning);
  --nav-bg-hover: var(--color-black); */
}

/* Dead Simple Grid (c) 2015 Vladimir Agafonkin */
.container {
  width: 100%;
}

.row .row {
  margin: 0 calc(var(--pm-xl) * -1);
}

.col {
  padding: 0 var(--pm-xl);
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

@media only screen {
  .col {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 100rem) {
  .content {
    width: 70%;
  }

  .sidebar {
    width: 30%;
  }

  .naslov {
    width: 100%;
  }
}

/* Basic */
html,
body {
  font-family: "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  box-sizing: border-box;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

main {
  flex: 1;
}

header,
footer {
  color: var(--color-white);
  background-color: var(--color-black);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--color-secondary);
}

hr {
  border: 0;
  border-top: var(--border) solid var(--color-grey);
  margin: var(--pm-m) 0;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

/* Navigation */
nav {
  font-size: 1.1rem;
}

nav .logo {
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  padding: var(--pm-s) 0;
  color: var(--color-warning) !important;
  margin-right: var(--pm-xl);
  background-color: transparent !important;
  border: 0;
}

nav .logo:hover {
  color: var(--color-white) !important;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: var(--pm-s) var(--pm-l);
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-black);
}

nav ul li a:hover {
  color: var(--color-warning);
  background-color: var(--color-grey);
}

nav ul li ul li {
  min-width: 12rem;
}

nav ul li ul li a {
  padding: var(--pm-s) var(--pm-l);
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1000;
}

/* Button */
.btn,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: var(--border) solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
  border-radius: var(--radius);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 2.5;
  font-size: .9rem;
  font-weight: bold;
  padding: 0 var(--pm-m);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  outline: none;
}

.btn:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn:disabled,
button:disabled,
input[type='button']:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled {
  cursor: default;
  opacity: .5;
}

.btn.btn-info,
button.btn-info,
input[type='button'].btn-info,
input[type='reset'].btn-info,
input[type='submit'].btn-info {
  border-color: var(--color-info);
  color: var(--color-info);
}

.btn.btn-info:hover,
button.btn-info:hover,
input[type='button'].btn-info:hover,
input[type='reset'].btn-info:hover,
input[type='submit'].btn-info:hover {
  border-color: var(--color-info);
  background-color: var(--color-info);
  color: var(--color-white);
}

.btn.btn-success,
button.btn-success,
input[type='button'].btn-success,
input[type='reset'].btn-success,
input[type='submit'].btn-success {
  border-color: var(--color-success);
  color: var(--color-success);
}

.btn.btn-success:hover,
button.btn-success:hover,
input[type='button'].btn-success:hover,
input[type='reset'].btn-success:hover,
input[type='submit'].btn-success:hover {
  border-color: var(--color-success);
  background-color: var(--color-success);
  color: var(--color-white);
}

.btn.btn-warning,
button.btn-warning,
input[type='button'].btn-warning,
input[type='reset'].btn-warning,
input[type='submit'].btn-warning {
  border-color: var(--color-warning);
  color: var(--color-warning);
}

.btn.btn-warning:hover,
button.btn-warning:hover,
input[type='button'].btn-warning:hover,
input[type='reset'].btn-warning:hover,
input[type='submit'].btn-warning:hover {
  border-color: var(--color-warning);
  background-color: var(--color-warning);
  color: var(--color-white);
}

.btn.btn-danger,
button.btn-danger,
input[type='button'].btn-danger,
input[type='reset'].btn-danger,
input[type='submit'].btn-danger {
  border-color: var(--color-danger);
  color: var(--color-danger);
}

.btn.btn-danger:hover,
button.btn-danger:hover,
input[type='button'].btn-danger:hover,
input[type='reset'].btn-danger:hover,
input[type='submit'].btn-danger:hover {
  border-color: var(--color-danger);
  background-color: var(--color-danger);
  color: var(--color-white);
}

/* Flash messages */
.flash {
  padding: var(--pm-s) calc(var(--pm-l) * 2) var(--pm-s) var(--pm-xl);
  position: relative;
}

.flash .close {
  position: absolute;
  top: calc(var(--pm-m) * -1);
  right: var(--pm-xl);
}

.flash-info {
  color: var(--color-white);
  background-color: var(--color-info);
}

.flash-success {
  color: var(--color-white);
  background-color: var(--color-success);
}

.flash-warning {
  color: var(--color-white);
  background-color: var(--color-warning);
}

.flash-danger {
  color: var(--color-white);
  background-color: var(--color-danger);
}

/* Pagination */
.pgn-btn {
  display: inline-block;
  margin-left: -1px;
  border: 1px solid var(--color-grey);
  padding: var(--pm-s) var(--pm-m);
  background-color: var(--color-white);
  color: var(--color-black);
  text-decoration: none;
}

.pgn-btn:active,
.pgn-btn:focus {
  outline: 0;
}

.pgn-first {
  border-radius: var(--radius) 0 0 var(--radius);
}

.pgn-last {
  border-radius: 0 var(--radius) var(--radius) 0;
}

.pgn-btn:hover {
  color: var(--color-white);
  background-color: var(--color-info);
}

.pgn-cur-btn {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

.pgn-btn-disabled {
  pointer-events: none;
  background-color: var(--color-grey);
  color: var(--color-white);
}

.pgn-goto {
  cursor: pointer;
  border: var(--border) solid var(--color-grey);
  border-radius: var(--radius);
  padding: var(--pm-xs) var(--pm-s);
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  text-align: center;
}

.pgn-goto:active,
.pgn-goto:focus {
  outline: 0;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  margin-bottom: var(--pm-m);
}

.table-responsive {
  overflow-x: auto;
}

table caption {
  text-align: left;
  font-style: italic;
  color: var(--color-secondary);
}

table thead th,
table thead td,
table tfoot td {
  color: var(--color-white);
  background-color: var(--color-primary);
}

tr {
  border-bottom: var(--border) solid var(--color-grey);
}

table tbody tr:nth-child(even) {
  background-color: #eee;
}

table tbody tr:hover {
  color: var(--color-white);
  background-color: var(--color-secondary);
}

th,
td {
  padding: var(--pm-s);
  margin: 0;
  vertical-align: top;
  text-align: left;
}

td ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Form */

fieldset {
  padding: 0;
}

label {
  color: var(--color-primary);
}

input,
select {
  padding: var(--pm-xs) var(--pm-s);
  line-height: 1.8;
  border: var(--border) solid var(--color-primary);
  border-radius: var(--radius-s);
  background-color: var(--color-white);
}

select {
  padding: var(--pm-xs) var(--pm-s);
}

input:active,
input:focus,
select:active,
select:focus {
  outline: 0;
  color: var(--color-white);
  background-color: var(--color-secondary);
}

/* Close button */
.close {
  padding: var(--pm-s);
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: inherit;
}

.close:active,
.close:focus {
  outline: 0;
}

.close:hover {
  color: var(--color-primary) !important;
  background-color: transparent !important;
}

/* Floating */
.cf:after {
  clear: both;
  content: '';
  display: table;
}

.move-left {
  float: left;
}

.move-right {
  float: right;
}

/* Flex */
.flex-row {
  padding: var(--pm-s) 0;
  display: block;
  margin-bottom: var(--pm-m);
}

.flex-col,
.flex-col-1,
.flex-col-2,
.flex-col-3,
.flex-col-4
.flex-col-5
.flex-col-6 {
  display: block;
}

@media screen and (min-width: 100rem) {
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .flex-col,
  .flex-col-1 {
    flex: 1;
  }

  .flex-col-2 {
    flex: 2;
  }

  .flex-col-3 {
    flex: 3;
  }
  .flex-col-4 {
    flex: 4;
  }
  .flex-col-5 {
    flex: 5;
  }
  .flex-col-6 {
    flex: 6;
  }
}

.center {
  text-align: center;
}

.well {
  margin-bottom: var(--pm-m); 
  padding: var(--pm-s);
  color: var(--color-black);
  background-color: #eee;
  border: var(--border) solid var(--color-grey);
  border-radius: var(--radius);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(221, 221, 221, .5);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 5% auto;
  pointer-events: none;
}

.modal-content {
  position: relative;
  margin: 0 auto;
  width: 50%;
  pointer-events: auto;
  background-color: var(--color-white);
  background-clip: padding-box;
  border-radius: var(--radius);
  outline: 0;
}

.modal-header {
  position: relative;
  padding: 0 var(--pm-m);
  border: var(--border) solid var(--color-primary);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  color: var(--color-primary);
  background-color: #ddd;
}

.modal-header .close {
  position: absolute;
  top: 0;
  right: var(--pm-m);
}

.modal-body {
  border-left: var(--border) solid var(--color-primary);
  border-right: var(--border) solid var(--color-primary);
  padding: var(--pm-m);
}

.modal-footer {
  padding: var(--pm-m);
  border: var(--border) solid var(--color-primary);
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  background-color: #ddd;
}