html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -36px;
}

.footer,
.push {
  height: 36px;
}

.footer {
  color: #aaa;
  background-color: #000;
}


.uk-pagination>li>.uk-active {
  color: #1673cf !important;
  font-weight: bolder;
}

.uk-pagination>li>.uk-disabled {
  color: #ccc;
}

.uk-pagination>*>* {
  color: #555;
}

.uk-text-white {
  color: #ddd !important;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

figcaption {
  margin-top: .5rem;
  font-size: 90%;
  font-style: italic;
}
