{% extends "templates/app.twig" %}

{% block naslov %}
<h1>O programu</h1>
<hr>
<h3>Specifične karakteristike:</h3>
	<ul>
		<li> Evidencija kartona, staraoca, pokojnika tabelarni, detaljni pregled i filtriranje</li>  
		<li> Kalendarski i tabelarni pregled termina sahranjivanja</li>
		<li> Mogućnost vezivanja skenirane dokumentacije za karton kao i lak pregled i manipulacija dokumentima</li>
		<li> Evidencija dugovanja/uplata, odnosno zaauženja po kartonu (zakupi, takse, računi i reprogram dugova)</li>  
		<li> Mape na kojima su prikazane lokacije grobnih mesta</li>
		<li> Evidencija promena cenovnika</li>
	</ul>
{% endblock naslov %}