{% extends "templates/app.twig" %}

{% block sadrzaj %}
<h1>Uputstvo za korišćenje programa</h1>
<hr>
<h2>Sadržaj</h2>
<ol>
    <li><a href="#">Kartoni</a></li>
    <li><a href="#">Staraoci</a></li>
    <li><a href="#">Pokojnici</a></li>
    <li><a href="#">Administracija</a></li>
</ol>
<h3 id="prijavljivanje">Prijavljivanje korisnika</h3>
<p>
    Osim početne i strana iz menija za pomoć, sve ostale mogu videti samo prijavljeni korisnici.
    Do ekrana za prijavljivanje korisnika de dolazi preko menija <code>PRIJAVA</code> ili kada neprijavljen korisnik
    iz menija izabere neku stavku koja zahteva da korisnik bude prijavljen.
</p>
<p>
    Popunjavanjem polja <code>Korisničko ime</code> i <code>Lozinka</code>, a zatim klikom na dugme <code>PRIJAVI SE</code>
    korisnik se prijavljuje u program, pod uslovom da su uneti ispravni podaci.
</p>
<figure>
    <img data-src="{{ base_url() }}/img/help/meni_guest_prijava.png" alt="Ekran za prijavu korisnika" uk-img>
    <figcaption>Slika 1. Meni - prijava korisnika</figcaption>
</figure>
<figure>
    <img data-src="{{ base_url() }}/img/help/login_screen.png" alt="Ekran za prijavu korisnika" uk-img>
    <figcaption>Slika 2. Ekran za prijavu korisnika</figcaption>
</figure>
<p>
    Nakon prijavljivanja korisnik može pristupiti svim modulima koji su zaštićeni, osim modulu <code>ADMINISTRACIJA</code>,
    koji je dostupan samo korisnicima koji imaju administratorska prava u programu.
</p>
<h3 id="meni">Meni programa</h3>
<p>
    Preko menija se pristupa svim modulima programa. Neprijavljeni korisnik može pristupiti samo modulima <code>POČETNA</code> i
    <code>POMOĆ</code>.
    <figure>
        <img data-src="{{ base_url() }}/img/help/meni_guest.png" alt="Ekran za prijavu korisnika" uk-img>
        <figcaption>Slika 3. Meni za neprijavljenoh korisnika</figcaption>
    </figure>
    <p>
        Prijavljeni korisnik ima pristup svim modulima prigrama, a ako ima administratorska prava dostupan (vidljiv) mu je i
        modul <code>ADMINISTRACIJA</code>.
    </p>
    <figure>
        <img data-src="{{ base_url() }}/img/help/meni_auth.png" alt="Ekran za prijavu korisnika" uk-img>
        <figcaption>Slika 4. Meni za prijavljenog korisnika sa administratorskim pravima</figcaption>
    </figure>

</p>
{% endblock sadrzaj %}

{% block traka %}
<div uk-sticky="offset: 60" class="uk-sticky uk-active uk-sticky-fixed uk-sticky-below" style="position: fixed; top: 60px; width: 100px;">
    <ul uk-scrollspy-nav="closest: li; scroll: true; offset: 60" class="uk-nav uk-nav-default tm-nav uk-nav-parent-icon uk-padding-large">
        <li><a href="#prijavljivanje">Prijavljivanje korisnika</a></li>
        <li><a href="#meni">Meni programa</a></li>
    </ul>
</div>
{% endblock traka %}