{% extends "templates/app.twig" %}

{% block sadrzaj %}
<h1>Home page</h1>
<p>
    <a href="http://www.mysqltutorial.org/">MySql</a>
</p>
<hr>
<p>
    <a href="http://www.mysqltutorial.org/">MySql</a>
</p>
<div class="cf">
    <div class="move-left" style="background: #669;width:60%">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dolorum ullam
        eligendi
        dolor. Illum modi magni a id perferendis dolor quasi eum maxime repellendus illo ipsum impedit, cum quos sed. Harum provident
        excepturi
        aperiam non, quas reiciendis nam fuga veniam quibusdam iure illum iste odit totam modi id incidunt odio?</div>
    <div class="move-right" style="background: #966;width:40%">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure nihil
        doloremque cum
        blanditiis totam qui accusantium vitae adipisci illo iste.</div>
</div>
<div style="background: #696">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, sint.</div>
{% endblock sadrzaj %}

{% block traka %}
<h1>Sidebar</h1>
{% endblock traka %}