{% extends "templates/app.twig" %}

{% block sadrzaj %}
<div class="uk-card uk-card-default uk-card-body uk-margin-top uk-padding-small">
		<h3 class="uk-card-title">Današnji termini:</h3>
		<ul class="uk-list uk-list-striped">
	{% for termin in danasnji %}
		<li>početak {{ termin.start|date('H:i') }}, kraj {{ termin.end|date('H:i') }} - {{ termin.title }}</li>
	{% endfor %}
	</ul>
	</div>
{% endblock sadrzaj %}
{% block traka %}
		<div class="uk-text-center">
	<img src="{{ base_url() }}/img/jkp_sumadija.jpg" alt="JKP Sumadija Kragujevac" height="300" width="300">
</div>
{% endblock traka %}