{% extends "templates/app.twig" %} {% block sadrzaj %}
<h1 class="uk-text-danger">
  Reprogrami za karton
  <small><em class="uk-text-primary">[{{ karton.broj() }}]</em></small>
</h1>
<div class="uk-panel uk-background-muted uk-padding-small">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <div class="uk-button-group">
        <button onclick="window.history.back();" class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="chevron-left"></span> Nazad
        </button>
        <a href="{{ path_for('kartoni.pregled', { id: karton.id }) }}"
          class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="chevron-double-left"></span> Otvori karton
        </a>
      </div>
    </div>
    <div class="uk-float-right">
      <div class="uk-button-group">
        <a href="{{ path_for('transakcije.pregled', { id: karton.id }) }}"
          class="uk-button uk-button-secondary uk-button-small">
          <span uk-icon="list"></span> Pregled zaduzenja
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock sadrzaj %}

{% block traka %}

{% endblock traka %}

{% block skripta %}

{% endblock skripta %}
