<div class="uk-float-left uk-margin-left uk-margin-small-top ne_stampaj">
	<p class="uk-margin-remove">
		<small>&copy;
			{{ 'now'|date('Y') }}
			ChaSha One All Rights Reserved</small>
	</p>
</div>
<div class="uk-float-right uk-margin-right uk-margin-small-top ne_stampaj">
	<p class="uk-margin-remove">
		<em>Korisnik:
			{{ auth.logged ? auth.user.ime : "Gost" }}</em>
	</p>
</div>
